.button {
    display: inline-block;
    color: #fff;
    background-color: $color-main;
    border-radius: 5px;
    padding: 4px 15px 5px;
    line-height: 1;
    transition-property: background-color;
    transition-duration: $duration;
    transition-timing-function: $easing;
    &:hover {
        text-decoration: none;
        background-color: darken($color-main, 10%);
    }
}