<div class="nav">
    <ul class="nav-list">
        <% for(var i=0; i< 30; i++) { %>
        <li class="nav-item">
            <a href="" class="link">
                <span>nav</span>
            </a>
        </li>
        <% } %>
    </ul>
</div>