<section class="window">
    <header class="window-header">
        <h1 class="window-heading">
            <%= winArray[iWin].heading %>
        </h1>
        <div class="window-button<% if(iWin !== 0){ %> js-button<% } %>">
        </div>
    </header>
    <textarea class="window-area" name="" id="js-area-<%= [iWin] %>" cols="30" rows="10">
        <%- winArray[iWin].code %>
    </textarea>
</section>